@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #161c24;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #454f5b;
}

.btn {
  @apply rounded min-h-0;
}

.btn-error {
  @apply text-white;
}

.input {
  @apply rounded;
}

.menu {
  @apply rounded;
}

.menu[class*=" p-"] li > * {
  @apply rounded;
}

.table th:first-child {
  position: unset;
  left: unset;
  z-index: unset;
}

@layer components {
  .btn-mid {
    height: 2.25rem;
    min-height: unset;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }

  .input-mid {
    height: 2.25rem;
    min-height: unset;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }

  .select-mid {
    height: 2.25rem;
    min-height: unset;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
}
